@import url("https://fonts.googleapis.com/css2?family=Changa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: #191b30;
}
.movie {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 3px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  background: #252850;
}
.movie:hover .overview {
  transform: translateY(0%);
  cursor: pointer;
}
.movie-info {
  font-family: "Changa", sans-serif;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 5px 10px;
  color: #fff;
}
.movie-info .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px 0 15px;
}
.star {
  margin: 0 0 0 5px;
}
.movie img {
  border: none;
  max-width: 100%;
  border-radius: 10px;
}
#movies {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-top: 80px;
}
@media (max-width: 1200px) {
  .navbar .search {
    width: 300px;
  }
  #movies {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 850px) {
  html {
    font-size: 80%;
  }
  .navbar .search {
    width: 250px;
  }
  #movies {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  html {
    font-size: 70%;
  }
  #movies {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .navbar .search {
    width: 200px;
  }
  #movies {
    grid-template-columns: repeat(1, 1fr);
  }
}

.overview {
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: #fff;
  overflow: auto;
  max-height: 100%;
  transform: translateY(100%);
  background: rgba(0, 0, 0, 0.7);
  font-size: 90%;
  transition: transform 0.5s ease-in-out;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background: rgba(37, 40, 80, 0.5);
  padding: 15px 20px;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar .search {
  height: 30px;
  cursor: pointer;
}
.search input {
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  border: none;
}
.search input:focus {
  outline: none;
}
